In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

In [2]:
spark = SparkSession.builder.appName("Internal1").getOrCreate()

24/12/29 22:30:59 WARN Utils: Your hostname, arch resolves to a loopback address: 127.0.1.1; using 10.20.31.204 instead (on interface wlp5s0)
24/12/29 22:30:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/29 22:30:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/29 22:31:15 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
csv_path = "Datasets/emp_data.csv"

In [17]:
emp_data = spark.read.csv(csv_path, header = True, inferSchema = True)

In [18]:
emp_data.show()

+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName| LastName|StartDate| ExitDate|             Title|      Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3461|  Lincoln|  Compton|18-Jul-19|01-Oct-21|Area Sales Manager|    Tammy Conner|          EW|  Future Start|   Full-Time| Zone C|                 Part-Time|    Resignation|         Sales|       General - Con|29-12-1997|   CO|               Foreman|      Male|       78046|Hispanic|    Married|Needs Improvement|                      1|
| 3463|   Kayden|   Dodson|30-Apr-20|18-Jul-21|Area Sales Manager|  Jessica Peters|         TNS|        Active|   Part-Time| Zone A|                 Temporary|     Retirement|         Sales|    Field Operations|21-06-1951|   IN|            Tower Hand|      Male|       12703|Hispanic|     Single|      Fully Meets|                      1|
| 3467|    Celia|   Curtis|06-May-20|     NULL|Area Sales Manager|Michael Odonnell|         WBL|        Active|    Contract| Zone A|                 Part-Time|            Unk|         Sales|            Fielders|14-05-1987|   KY|              Engineer|    Female|       94333|   Asian|   Divorced|          Exceeds|                      6|
| 3480| Jerimiah|   Harmon|08-Sep-22|16-Oct-22|Area Sales Manager|       Eric King|          PL|  Future Start|   Full-Time| Zone C|                 Temporary|     Retirement|         Sales|                Catv|09-08-1946|   TX|            Supervisor|    Female|       75671|   Black|    Widowed|      Fully Meets|                      6|
| 3483|  Jaslene|  Harding|26-Sep-21|     NULL|Area Sales Manager|Krystal Hamilton|         SVG|        Active|   Part-Time| Zone B|                 Temporary|            Unk|         Sales|Project Managemen...|19-06-1964|   CO|           Coordinator|      Male|       42605|   Asian|    Widowed|      Fully Meets|                      6|
| 3492|  Vicente|  Merritt|26-Nov-19|     NULL|Area Sales Manager|    Ashley Smith|          PL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|         Sales|       General - Con|08-01-1993|   CO|                 Clerk|      Male|       31676|   Asian|    Married|      Fully Meets|                      1|
| 3497|   Graham|Rodriguez|08-Dec-21|     NULL|Area Sales Manager|   Kendra Murray|         TNS|        Active|   Part-Time| Zone C|                 Temporary|            Unk|         Sales|Project Managemen...|18-02-1981|   OR|               Lineman|    Female|       58210|Hispanic|    Widowed|      Fully Meets|                      6|
| 3500|   Nevaeh|    Lucas|20-Nov-18|21-Jun-20|Area Sales Manager|   Bryan Douglas|         NEL|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|         Sales|        Shop (Fleet)|25-02-2000|   TX|              Mechanic|    Female|       80424|   White|   Divorced|      Fully Meets|                      1|
| 3502|   Eugene|    Marks|01-Oct-19|     NULL|Area Sales Manager|   Angela Morris|         BPC|        Active|   Full-Time| Zone C|                 Temporary|            Unk|         Sales|            Splicing|29-06-1976|   TX|           Electrician|      Male|       49914|   White|    Married|      Fully Meets|                      1|
| 3505|    Amaya|    Hicks|29-Aug-20|     NULL|Area Sales Manager| Michael Wilkins|          EW|        Active|    Contract| Zone B|                 Temporary|            Unk|         Sales|    Field Operations|24-07-1943|   IN|             Groundman|      Male|       72324|Hispanic|    Widowed|      Fully Meets|                      1|
| 3514|   Alexus|    Estes|15-Apr-20|     NULL|Area Sales Manager|  April Randolph|         BPC|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|         Sales|Wireline Construc...|03-01-1958|   TX|               Manager|      Male|       17419|   Asian|    Married|      Fully Meets|                      1|
| 3520|   Caiden|    Munoz|13-Dec-20|13-Jan-23|Area Sales Manager|   Teresa Daniel|         TNS|        Active|   Full-Time| Zone C|                 Temporary|    Involuntary|         Sales|Project Managemen...|01-03-1963|   ND|               Manager|    Female|       18983|   Black|   Divorced|      Fully Meets|                      1|
| 3522|  Marques|Armstrong|02-Mar-20|     NULL|Area Sales Manager|  Michael Nguyen|         BPC|        Active|   Full-Time| Zone C|                 Part-Time|            Unk|         Sales|            Splicing|12-10-1983|   KY|               Splicer|    Female|       34369|   Other|     Single|      Fully Meets|                      1|
| 3527|    Ahmed|  Hawkins|01-May-20|25-Feb-21|Area Sales Manager|   Hannah Snyder|          PL|        Active|   Full-Time| Zone B|                 Temporary|     Retirement|         Sales|              Aerial|15-10-1974|   CO|               Lineman|      Male|       46645|   Black|    Married|      Fully Meets|                      1|
| 3531|   Ronnie|    Mayer|17-Jun-23|     NULL|Area Sales Manager|     Dylan Blake|         WBL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|         Sales|Project Managemen...|18-05-1943|   CA|       Project Manager|      Male|       18409|   Black|   Divorced|      Fully Meets|                      1|
| 3532|   Marlon|     Ford|14-Oct-21|     NULL|Area Sales Manager|Monique Anderson|          EW|        Active|   Part-Time| Zone B|                 Full-Time|            Unk|         IT/IS|            Wireless|27-11-1966|   OR|            Technician|    Female|       40306|   Black|    Widowed|      Fully Meets|                      1|
| 3542|    Ellie|     Gill|15-Apr-23|     NULL|Area Sales Manager|   Amanda Knight|          EW|        Active|    Contract| Zone A|                 Temporary|            Unk|         Sales|    Field Operations|01-03-1948|   IN|               Manager|      Male|       45456|   White|    Married|Needs Improvement|                      1|
| 3545|    Ryann|    Rubio|07-Mar-22|     NULL|Area Sales Manager|    Andres Jones|          EW|        Active|   Full-Time| Zone C|                 Temporary|            Unk|         IT/IS|    Field Operations|28-01-1943|   OR|               Locator|    Female|        9733|   Black|    Widowed|      Fully Meets|                      1|
| 3546|    Paris|     Carr|31-Jul-21|27-Jan-23|Area Sales Manager| Jeffrey Huffman|        CCDR|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|         Sales|       General - Con|14-07-1980|   ND|               Foreman|      Male|       35786|Hispanic|    Widowed|          Exceeds|                      1|
| 3548|    Sanaa|    Glass|11-Jul-21|10-Oct-22|Area Sales Manager|  Stephen Garcia|         WBL|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|         Sales|       General - Con|25-01-1964|   KY|            Technician|    Female|       40135|   White|     Single|      Fully Meets|                      1|
+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 20 rows

In [19]:
for column in emp_data.columns:
    null_count = emp_data.filter(col(column).isNull()).count()
    print(f"Column {column} has {null_count} null values.")

Column EmpID has 0 null values.
Column FirstName has 0 null values.
Column LastName has 0 null values.
Column StartDate has 0 null values.
Column ExitDate has 263 null values.
Column Title has 0 null values.
Column Supervisor has 0 null values.
Column BusinessUnit has 0 null values.
Column EmployeeStatus has 0 null values.
Column EmployeeType has 0 null values.
Column PayZone has 0 null values.
Column EmployeeClassificationType has 0 null values.
Column TerminationType has 0 null values.
Column DepartmentType has 0 null values.
Column Division has 0 null values.
Column DOB has 0 null values.
Column State has 0 null values.
Column JobFunctionDescription has 0 null values.
Column GenderCode has 0 null values.
Column LocationCode has 0 null values.
Column RaceDesc has 0 null values.
Column MaritalDesc has 0 null values.
Column Performance Score has 0 null values.
Column Current Employee Rating has 0 null values.

In [20]:
emp_data = emp_data.fillna({"LastName":"Unknown"})

In [21]:
emp_data = emp_data.dropna(subset = ["EmpID","StartDate"])

In [22]:
emp_data = emp_data.filter(col("Current Employee Rating").between(1, 5))

In [23]:
emp_data.show()

+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName| LastName|StartDate| ExitDate|               Title|      Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3461|  Lincoln|  Compton|18-Jul-19|01-Oct-21|  Area Sales Manager|    Tammy Conner|          EW|  Future Start|   Full-Time| Zone C|                 Part-Time|    Resignation|            Sales|       General - Con|29-12-1997|   CO|               Foreman|      Male|       78046|Hispanic|    Married|Needs Improvement|                      1|
| 3463|   Kayden|   Dodson|30-Apr-20|18-Jul-21|  Area Sales Manager|  Jessica Peters|         TNS|        Active|   Part-Time| Zone A|                 Temporary|     Retirement|            Sales|    Field Operations|21-06-1951|   IN|            Tower Hand|      Male|       12703|Hispanic|     Single|      Fully Meets|                      1|
| 3492|  Vicente|  Merritt|26-Nov-19|     NULL|  Area Sales Manager|    Ashley Smith|          PL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|            Sales|       General - Con|08-01-1993|   CO|                 Clerk|      Male|       31676|   Asian|    Married|      Fully Meets|                      1|
| 3500|   Nevaeh|    Lucas|20-Nov-18|21-Jun-20|  Area Sales Manager|   Bryan Douglas|         NEL|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|            Sales|        Shop (Fleet)|25-02-2000|   TX|              Mechanic|    Female|       80424|   White|   Divorced|      Fully Meets|                      1|
| 3502|   Eugene|    Marks|01-Oct-19|     NULL|  Area Sales Manager|   Angela Morris|         BPC|        Active|   Full-Time| Zone C|                 Temporary|            Unk|            Sales|            Splicing|29-06-1976|   TX|           Electrician|      Male|       49914|   White|    Married|      Fully Meets|                      1|
| 3505|    Amaya|    Hicks|29-Aug-20|     NULL|  Area Sales Manager| Michael Wilkins|          EW|        Active|    Contract| Zone B|                 Temporary|            Unk|            Sales|    Field Operations|24-07-1943|   IN|             Groundman|      Male|       72324|Hispanic|    Widowed|      Fully Meets|                      1|
| 3514|   Alexus|    Estes|15-Apr-20|     NULL|  Area Sales Manager|  April Randolph|         BPC|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|            Sales|Wireline Construc...|03-01-1958|   TX|               Manager|      Male|       17419|   Asian|    Married|      Fully Meets|                      1|
| 3520|   Caiden|    Munoz|13-Dec-20|13-Jan-23|  Area Sales Manager|   Teresa Daniel|         TNS|        Active|   Full-Time| Zone C|                 Temporary|    Involuntary|            Sales|Project Managemen...|01-03-1963|   ND|               Manager|    Female|       18983|   Black|   Divorced|      Fully Meets|                      1|
| 3522|  Marques|Armstrong|02-Mar-20|     NULL|  Area Sales Manager|  Michael Nguyen|         BPC|        Active|   Full-Time| Zone C|                 Part-Time|            Unk|            Sales|            Splicing|12-10-1983|   KY|               Splicer|    Female|       34369|   Other|     Single|      Fully Meets|                      1|
| 3527|    Ahmed|  Hawkins|01-May-20|25-Feb-21|  Area Sales Manager|   Hannah Snyder|          PL|        Active|   Full-Time| Zone B|                 Temporary|     Retirement|            Sales|              Aerial|15-10-1974|   CO|               Lineman|      Male|       46645|   Black|    Married|      Fully Meets|                      1|
| 3531|   Ronnie|    Mayer|17-Jun-23|     NULL|  Area Sales Manager|     Dylan Blake|         WBL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|            Sales|Project Managemen...|18-05-1943|   CA|       Project Manager|      Male|       18409|   Black|   Divorced|      Fully Meets|                      1|
| 3532|   Marlon|     Ford|14-Oct-21|     NULL|  Area Sales Manager|Monique Anderson|          EW|        Active|   Part-Time| Zone B|                 Full-Time|            Unk|            IT/IS|            Wireless|27-11-1966|   OR|            Technician|    Female|       40306|   Black|    Widowed|      Fully Meets|                      1|
| 3542|    Ellie|     Gill|15-Apr-23|     NULL|  Area Sales Manager|   Amanda Knight|          EW|        Active|    Contract| Zone A|                 Temporary|            Unk|            Sales|    Field Operations|01-03-1948|   IN|               Manager|      Male|       45456|   White|    Married|Needs Improvement|                      1|
| 3545|    Ryann|    Rubio|07-Mar-22|     NULL|  Area Sales Manager|    Andres Jones|          EW|        Active|   Full-Time| Zone C|                 Temporary|            Unk|            IT/IS|    Field Operations|28-01-1943|   OR|               Locator|    Female|        9733|   Black|    Widowed|      Fully Meets|                      1|
| 3546|    Paris|     Carr|31-Jul-21|27-Jan-23|  Area Sales Manager| Jeffrey Huffman|        CCDR|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|            Sales|       General - Con|14-07-1980|   ND|               Foreman|      Male|       35786|Hispanic|    Widowed|          Exceeds|                      1|
| 3548|    Sanaa|    Glass|11-Jul-21|10-Oct-22|  Area Sales Manager|  Stephen Garcia|         WBL|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|            Sales|       General - Con|25-01-1964|   KY|            Technician|    Female|       40135|   White|     Single|      Fully Meets|                      1|
| 3550|  Charlie| Atkinson|26-Nov-21|14-Oct-22|  Area Sales Manager|  Jennifer Hicks|         SVG|  Future Start|   Part-Time| Zone C|                 Temporary|    Resignation|            Sales|Wireline Construc...|26-03-1988|   TX|               Billing|      Male|       57754|   White|   Divorced|      Fully Meets|                      1|
| 3552|   Harper|    Ramos|16-Feb-20|03-Jun-20|  Area Sales Manager|      Maria Chan|          PL|        Active|   Full-Time| Zone B|                 Full-Time|     Retirement|            Sales|    Field Operations|11-08-1942|   CO|               Foreman|      Male|       28714|   White|     Single|Needs Improvement|                      1|
| 3554|   Lizeth|  Holland|31-Mar-19|     NULL|  Area Sales Manager|    Tonya Martin|         MSC|        Active|   Part-Time| Zone C|                 Temporary|            Unk|            Sales|     People Services|14-10-1958|   IN|                   Cpo|      Male|       78385|   Asian|    Widowed|      Fully Meets|                      1|
| 3558|  Mildred|   Gentry|30-Dec-18|     NULL|Production Techni...|      Erin Moore|         MSC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|Production       |Yard (Material Ha...|04-06-1959|   MA|               Manager|    Female|        2145|   Black|     Single|      Fully Meets|                      1|
+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 20 rows

In [24]:
emp_df = emp_data.filter(col("LocationCode").rlike("^[0-9]+$"))

In [25]:
emp_df.show()

+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName| LastName|StartDate| ExitDate|               Title|      Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3461|  Lincoln|  Compton|18-Jul-19|01-Oct-21|  Area Sales Manager|    Tammy Conner|          EW|  Future Start|   Full-Time| Zone C|                 Part-Time|    Resignation|            Sales|       General - Con|29-12-1997|   CO|               Foreman|      Male|       78046|Hispanic|    Married|Needs Improvement|                      1|
| 3463|   Kayden|   Dodson|30-Apr-20|18-Jul-21|  Area Sales Manager|  Jessica Peters|         TNS|        Active|   Part-Time| Zone A|                 Temporary|     Retirement|            Sales|    Field Operations|21-06-1951|   IN|            Tower Hand|      Male|       12703|Hispanic|     Single|      Fully Meets|                      1|
| 3492|  Vicente|  Merritt|26-Nov-19|     NULL|  Area Sales Manager|    Ashley Smith|          PL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|            Sales|       General - Con|08-01-1993|   CO|                 Clerk|      Male|       31676|   Asian|    Married|      Fully Meets|                      1|
| 3500|   Nevaeh|    Lucas|20-Nov-18|21-Jun-20|  Area Sales Manager|   Bryan Douglas|         NEL|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|            Sales|        Shop (Fleet)|25-02-2000|   TX|              Mechanic|    Female|       80424|   White|   Divorced|      Fully Meets|                      1|
| 3502|   Eugene|    Marks|01-Oct-19|     NULL|  Area Sales Manager|   Angela Morris|         BPC|        Active|   Full-Time| Zone C|                 Temporary|            Unk|            Sales|            Splicing|29-06-1976|   TX|           Electrician|      Male|       49914|   White|    Married|      Fully Meets|                      1|
| 3505|    Amaya|    Hicks|29-Aug-20|     NULL|  Area Sales Manager| Michael Wilkins|          EW|        Active|    Contract| Zone B|                 Temporary|            Unk|            Sales|    Field Operations|24-07-1943|   IN|             Groundman|      Male|       72324|Hispanic|    Widowed|      Fully Meets|                      1|
| 3514|   Alexus|    Estes|15-Apr-20|     NULL|  Area Sales Manager|  April Randolph|         BPC|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|            Sales|Wireline Construc...|03-01-1958|   TX|               Manager|      Male|       17419|   Asian|    Married|      Fully Meets|                      1|
| 3520|   Caiden|    Munoz|13-Dec-20|13-Jan-23|  Area Sales Manager|   Teresa Daniel|         TNS|        Active|   Full-Time| Zone C|                 Temporary|    Involuntary|            Sales|Project Managemen...|01-03-1963|   ND|               Manager|    Female|       18983|   Black|   Divorced|      Fully Meets|                      1|
| 3522|  Marques|Armstrong|02-Mar-20|     NULL|  Area Sales Manager|  Michael Nguyen|         BPC|        Active|   Full-Time| Zone C|                 Part-Time|            Unk|            Sales|            Splicing|12-10-1983|   KY|               Splicer|    Female|       34369|   Other|     Single|      Fully Meets|                      1|
| 3527|    Ahmed|  Hawkins|01-May-20|25-Feb-21|  Area Sales Manager|   Hannah Snyder|          PL|        Active|   Full-Time| Zone B|                 Temporary|     Retirement|            Sales|              Aerial|15-10-1974|   CO|               Lineman|      Male|       46645|   Black|    Married|      Fully Meets|                      1|
| 3531|   Ronnie|    Mayer|17-Jun-23|     NULL|  Area Sales Manager|     Dylan Blake|         WBL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|            Sales|Project Managemen...|18-05-1943|   CA|       Project Manager|      Male|       18409|   Black|   Divorced|      Fully Meets|                      1|
| 3532|   Marlon|     Ford|14-Oct-21|     NULL|  Area Sales Manager|Monique Anderson|          EW|        Active|   Part-Time| Zone B|                 Full-Time|            Unk|            IT/IS|            Wireless|27-11-1966|   OR|            Technician|    Female|       40306|   Black|    Widowed|      Fully Meets|                      1|
| 3542|    Ellie|     Gill|15-Apr-23|     NULL|  Area Sales Manager|   Amanda Knight|          EW|        Active|    Contract| Zone A|                 Temporary|            Unk|            Sales|    Field Operations|01-03-1948|   IN|               Manager|      Male|       45456|   White|    Married|Needs Improvement|                      1|
| 3545|    Ryann|    Rubio|07-Mar-22|     NULL|  Area Sales Manager|    Andres Jones|          EW|        Active|   Full-Time| Zone C|                 Temporary|            Unk|            IT/IS|    Field Operations|28-01-1943|   OR|               Locator|    Female|        9733|   Black|    Widowed|      Fully Meets|                      1|
| 3546|    Paris|     Carr|31-Jul-21|27-Jan-23|  Area Sales Manager| Jeffrey Huffman|        CCDR|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|            Sales|       General - Con|14-07-1980|   ND|               Foreman|      Male|       35786|Hispanic|    Widowed|          Exceeds|                      1|
| 3548|    Sanaa|    Glass|11-Jul-21|10-Oct-22|  Area Sales Manager|  Stephen Garcia|         WBL|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|            Sales|       General - Con|25-01-1964|   KY|            Technician|    Female|       40135|   White|     Single|      Fully Meets|                      1|
| 3550|  Charlie| Atkinson|26-Nov-21|14-Oct-22|  Area Sales Manager|  Jennifer Hicks|         SVG|  Future Start|   Part-Time| Zone C|                 Temporary|    Resignation|            Sales|Wireline Construc...|26-03-1988|   TX|               Billing|      Male|       57754|   White|   Divorced|      Fully Meets|                      1|
| 3552|   Harper|    Ramos|16-Feb-20|03-Jun-20|  Area Sales Manager|      Maria Chan|          PL|        Active|   Full-Time| Zone B|                 Full-Time|     Retirement|            Sales|    Field Operations|11-08-1942|   CO|               Foreman|      Male|       28714|   White|     Single|Needs Improvement|                      1|
| 3554|   Lizeth|  Holland|31-Mar-19|     NULL|  Area Sales Manager|    Tonya Martin|         MSC|        Active|   Part-Time| Zone C|                 Temporary|            Unk|            Sales|     People Services|14-10-1958|   IN|                   Cpo|      Male|       78385|   Asian|    Widowed|      Fully Meets|                      1|
| 3558|  Mildred|   Gentry|30-Dec-18|     NULL|Production Techni...|      Erin Moore|         MSC|        Active|   Part-Time| Zone A|                 Part-Time|            Unk|Production       |Yard (Material Ha...|04-06-1959|   MA|               Manager|    Female|        2145|   Black|     Single|      Fully Meets|                      1|
+-----+---------+---------+---------+---------+--------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 20 rows

In [26]:
emp_df.createOrReplaceTempView("employee")

In [27]:
emp_df.columns

['EmpID',
 'FirstName',
 'LastName',
 'StartDate',
 'ExitDate',
 'Title',
 'Supervisor',
 'BusinessUnit',
 'EmployeeStatus',
 'EmployeeType',
 'PayZone',
 'EmployeeClassificationType',
 'TerminationType',
 'DepartmentType',
 'Division',
 'DOB',
 'State',
 'JobFunctionDescription',
 'GenderCode',
 'LocationCode',
 'RaceDesc',
 'MaritalDesc',
 'Performance Score',
 'Current Employee Rating']

In [31]:
query = "select DepartmentType, count(DepartmentType) from employee group by DepartmentType"

In [32]:
new_emp = spark.sql(query)

In [33]:
new_emp.show()

+--------------------+---------------------+
|      DepartmentType|count(DepartmentType)|
+--------------------+---------------------+
|               Sales|                  118|
|   Production       |                  253|
|    Executive Office|                   18|
|Software Engineering|                    1|
|               IT/IS|                  158|
+--------------------+---------------------+

In [37]:
from pyspark.sql.functions import col, rank
from pyspark.sql.window import Window

# Define the window specification
window_spec = Window.partitionBy("DepartmentType").orderBy(col("Performance Score").desc())

# Use rank() and filter the top performer
top_performers = emp_df.withColumn("Rank", rank().over(window_spec)).filter(col("Rank") == 1)
top_performers.show()

+-----+---------+---------+---------+---------+--------------------+------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----+
|EmpID|FirstName| LastName|StartDate| ExitDate|               Title|        Supervisor|BusinessUnit|      EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|  DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Rank|
+-----+---------+---------+---------+---------+--------------------+------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----+
| 3833|    Elise|  Vazquez|26-Jan-22|02-Nov-22|    Network Engineer|     Melissa Baker|         PYZ|              Active|   Full-Time| Zone A|                 Part-Time|     Retirement|Executive Office|    Field Operations|12-05-1953|   MA|              Top Hand|      Male|       21738|   Asian|     Single|              PIP|                      3|   1|
| 3844|    Edgar|Underwood|10-Jun-21|18-Aug-22|    Network Engineer|    Melissa Torres|         PYZ|              Active|   Part-Time| Zone C|                 Temporary|      Voluntary|Executive Office|       General - Con|02-06-1961|   MA|               Laborer|      Male|       49677|   White|     Single|              PIP|                      3|   1|
| 3845|   Jaiden|Underwood|25-Aug-19|     NULL|    Network Engineer|   Jordan Caldwell|         WBL|              Active|    Contract| Zone A|                 Full-Time|            Unk|Executive Office|    Field Operations|10-08-1969|   MA|               Laborer|      Male|       69726|Hispanic|     Single|              PIP|                      3|   1|
| 3856|   Darwin|    Allen|17-Mar-23|12-Jun-23|    Network Engineer|     Michael Young|         TNS|              Active|   Part-Time| Zone C|                 Part-Time|    Involuntary|Executive Office|Wireline Construc...|17-05-1994|   MA|             Groundman|      Male|       57170|   Other|   Divorced|              PIP|                      3|   1|
| 3877|    Oscar|    Lopez|22-Oct-18|07-Apr-20|    Network Engineer|  Christian Ortega|         MSC|              Active|   Part-Time| Zone A|                 Full-Time|    Resignation|Executive Office|       General - Con|21-01-1976|   MA|               Lineman|      Male|       81607|   Asian|     Single|              PIP|                      3|   1|
| 3830|  Mariana|    Glass|20-Aug-19|     NULL|Principal Data Ar...|      David Zavala|        CCDR|              Active|   Part-Time| Zone C|                 Temporary|            Unk|           IT/IS|    Field Operations|30-05-1947|   CT|            Tower Hand|      Male|       89892|   White|    Widowed|              PIP|                      3|   1|
| 3832|   Sloane|Rasmussen|02-Aug-21|29-Sep-22|             Sr. DBA|  Melinda Mcintyre|          EW|    Leave of Absence|   Full-Time| Zone B|                 Part-Time|    Resignation|           IT/IS|Project Managemen...|07-09-1964|   MA|               Planner|    Female|       96097|Hispanic|    Widowed|              PIP|                      3|   1|
| 3837|      Mia|    Cowan|02-Oct-22|13-Nov-22|          IT Support|     Thomas Weaver|         BPC|              Active|   Part-Time| Zone A|                 Part-Time|    Resignation|           IT/IS|Finance & Accounting|27-08-1956|   MA|        Administrative|      Male|       72879|   Other|     Single|              PIP|                      3|   1|
| 3838|    Tanya|  Leonard|17-Dec-18|21-Apr-21|          IT Support|          Duane Le|        CCDR|              Active|   Part-Time| Zone A|                 Full-Time|      Voluntary|           IT/IS|    Field Operations|14-08-1979|   MA|             Assistant|    Female|       28364|   Asian|     Single|              PIP|                      3|   1|
| 3839|   Dereon|     Page|11-Oct-21|     NULL|Sr. Network Engineer|  Jason Morris DVM|          PL|              Active|    Contract| Zone B|                 Part-Time|            Unk|           IT/IS|       General - Con|27-09-2000|   MA|               Lineman|      Male|       94433|Hispanic|   Divorced|              PIP|                      3|   1|
| 3851|    Vance|  Marquez|18-Jan-19|30-Mar-20|Sr. Network Engineer|     Thomas Hanson|         NEL|    Leave of Absence|    Contract| Zone C|                 Temporary|    Resignation|           IT/IS|           Executive|07-07-1994|   CT|               Manager|      Male|       38058|   Black|    Married|              PIP|                      3|   1|
| 3852|    Dante|    Wyatt|01-Mar-19|25-Sep-21|Principal Data Ar...|Dr. Eric Henderson|          PL|    Leave of Absence|   Part-Time| Zone A|                 Temporary|     Retirement|           IT/IS|    Field Operations|10-09-1987|   CT|               Laborer|    Female|       34011|   White|    Widowed|              PIP|                      3|   1|
| 3857|   Jasper| Harrison|02-Oct-22|11-Oct-22|          IT Support|   Lindsey Osborne|         SVG|              Active|    Contract| Zone B|                 Temporary|      Voluntary|           IT/IS|            Fielders|24-05-1963|   MA|              Engineer|      Male|       18837|   Black|    Widowed|              PIP|                      3|   1|
| 3859|    Clare|  English|29-Nov-19|18-Aug-22|          IT Support|    Randall Keller|          PL|              Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|           IT/IS|            Fielders|20-04-1992|   MA|              Engineer|    Female|       70282|Hispanic|    Married|              PIP|                      3|   1|
| 3861|  Lizbeth|     Hunt|24-Mar-22|     NULL|Sr. Network Engineer|  Jessica Figueroa|          PL|              Active|   Full-Time| Zone C|                 Part-Time|            Unk|           IT/IS|       General - Con|25-02-1965|   MA|               Flagger|      Male|       70757|   Other|    Widowed|              PIP|                      3|   1|
| 3862|     Eden|Armstrong|13-May-19|06-Jun-23|Sr. Network Engineer|    Lindsey Gibson|         BPC|    Leave of Absence|   Part-Time| Zone B|                 Temporary|    Involuntary|           IT/IS|Project Managemen...|05-05-1989|   CT|              Engineer|      Male|       58224|   White|    Married|              PIP|                      3|   1|
| 3863|   Eugene|  Mueller|07-Jun-19|     NULL|Principal Data Ar...|     Jeremy Hanson|        CCDR|              Active|    Contract| Zone A|                 Temporary|            Unk|           IT/IS|              Aerial|19-03-1972|   MA|            Technician|    Female|       38413|   Other|     Single|              PIP|                      3|   1|
| 3876|    Alana|   Castro|24-Oct-21|     NULL|Principal Data Ar...|      Deborah Bell|        CCDR|              Active|    Contract| Zone C|                 Temporary|            Unk|           IT/IS|       General - Con|30-05-1954|   MA|               Lineman|    Female|       70578|Hispanic|     Single|              PIP|                      3|   1|
| 3942|   Bianca| Roehrich|04-Nov-18|22-Dec-21|Principal Data Ar...|   Brian Gamble MD|         PYZ|Voluntarily Termi...|    Contract| Zone B|                 Temporary|    Resignation|           IT/IS|                Catv|04-09-1951|   MA|               Laborer|    Female|        2703|   Asian|    Married|              PIP|                      3|   1|
| 3945|   Thelma|Petrowsky|25-Jul-22|     NULL|        Data Analyst|      Carla Wilson|         MSC|              Active|   Full-Time| Zone C|                 Temporary|            Unk|           IT/IS|           Engineers|23-03-1998|   MA|              Engineer|    Female|        1886|   Black|     Single|              PIP|                      3|   1|
+-----+---------+---------+---------+---------+--------------------+------------------+------------+--------------------+------------+-------+--------------------------+---------------+----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+----+
only showing top 20 rows

In [46]:
query2 = "SELECT DepartmentType, MAX(`Curr`) FROM employee GROUP BY DepartmentType"

In [48]:
emp_df.columns

['EmpID',
 'FirstName',
 'LastName',
 'StartDate',
 'ExitDate',
 'Title',
 'Supervisor',
 'BusinessUnit',
 'EmployeeStatus',
 'EmployeeType',
 'PayZone',
 'EmployeeClassificationType',
 'TerminationType',
 'DepartmentType',
 'Division',
 'DOB',
 'State',
 'JobFunctionDescription',
 'GenderCode',
 'LocationCode',
 'RaceDesc',
 'MaritalDesc',
 'Performance Score',
 'Current Employee Rating']

In [47]:
new_emp2 = spark.sql(query2)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Rank` cannot be resolved. Did you mean one of the following? [`DOB`, `State`, `EmpID`, `PayZone`, `Title`].; line 1 pos 27;
'Aggregate [DepartmentType#1131], [DepartmentType#1131, unresolvedalias('MAX('Rank), None)]
+- SubqueryAlias employee
   +- View (`employee`, [EmpID#1118,FirstName#1119,LastName#2032,StartDate#1121,ExitDate#1122,Title#1123,Supervisor#1124,BusinessUnit#1125,EmployeeStatus#1126,EmployeeType#1127,PayZone#1128,EmployeeClassificationType#1129,TerminationType#1130,DepartmentType#1131,Division#1132,DOB#1133,State#1134,JobFunctionDescription#1135,GenderCode#1136,LocationCode#1137,RaceDesc#1138,MaritalDesc#1139,Performance Score#1140,Current Employee Rating#1141])
      +- Filter RLIKE(cast(LocationCode#1137 as string), ^[0-9]+$)
         +- Filter ((Current Employee Rating#1141 >= 1) AND (Current Employee Rating#1141 <= 5))
            +- Filter atleastnnonnulls(2, EmpID#1118, StartDate#1121)
               +- Project [EmpID#1118, FirstName#1119, coalesce(LastName#1120, cast(Unknown as string)) AS LastName#2032, StartDate#1121, ExitDate#1122, Title#1123, Supervisor#1124, BusinessUnit#1125, EmployeeStatus#1126, EmployeeType#1127, PayZone#1128, EmployeeClassificationType#1129, TerminationType#1130, DepartmentType#1131, Division#1132, DOB#1133, State#1134, JobFunctionDescription#1135, GenderCode#1136, LocationCode#1137, RaceDesc#1138, MaritalDesc#1139, Performance Score#1140, Current Employee Rating#1141]
                  +- Relation [EmpID#1118,FirstName#1119,LastName#1120,StartDate#1121,ExitDate#1122,Title#1123,Supervisor#1124,BusinessUnit#1125,EmployeeStatus#1126,EmployeeType#1127,PayZone#1128,EmployeeClassificationType#1129,TerminationType#1130,DepartmentType#1131,Division#1132,DOB#1133,State#1134,JobFunctionDescription#1135,GenderCode#1136,LocationCode#1137,RaceDesc#1138,MaritalDesc#1139,Performance Score#1140,Current Employee Rating#1141] csv

In [45]:
new_emp2.show()

+--------------------+----------------------+
|      DepartmentType|max(Performance Score)|
+--------------------+----------------------+
|    Executive Office|                   PIP|
|               IT/IS|                   PIP|
|   Production       |                   PIP|
|               Sales|     Needs Improvement|
|Software Engineering|           Fully Meets|
+--------------------+----------------------+